<?xml version="1.0" encoding="utf-8" ?>
<nancyService port="12345">
  <resourceProviders>
    <add name="test" enabled="true"
         requestRootPath="/Files"
         defaultResource="Index.html"
         assemblyName="StaticNancy.Content"
         resourcePrefix="StaticNancy.Content.Files"/>
  </resourceProviders>
</nancyService>