<?xml version="1.0" encoding="utf-8" ?>
<nancyService port="12345">
  <drives>
    <add letter="Z"
      drivePwd="Test"
      driveMountCommand="NXR7INUQVx8MhxXqyA283VYAbJTttbtJJQRjHVIRz+uH6VqG3zUrv8WckSV7cSmgxCYEguQ54GxBRjyTZFcOTHdf3BS/GIpzspKGdhHfAMlvykv2RzybCeUKBNCe+UGBDWqIw3StqTwZH119fO+77w=="
      driveUnmountCommand="SOoWzkjm7tCkZONV/gjYoUOCLHzG2cBt4KizX4pmcx+xnkhm6q9rhJ4ae+uZuJpkP/Cc6uctt3oOKBXBbhBLXnczY62oOnBB7nSVzzNtrVk515zb4k8uNDlZHYZJ2VYvP1q0ZATM6Khr13Am7aQaGQ==" />
  </drives>

  <resourceProviders>
    <add name="test" enabled="true"
         outputResourcesList="true"
         requestRootPath="/Files"
         defaultResource="Index.html"
         assemblyName="StaticNancy.Content"
         resourcePrefix="StaticNancy.Content.Files"/>

    <add name="test2" enabled="true"
       outputResourcesList="true"
       requestRootPath="/Files2"
       defaultResource="Index.html"
       assemblyName="StaticNancy.Content.resources"
       resourcePrefix="StaticNancy.Content.Files.Res"/>
  </resourceProviders>
</nancyService>